<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redireciona todas as requisições para public/index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/index.php [L]

    # Bloquear listagem de diretórios
    Options -Indexes

    # Bloquear arquivos sensíveis
    RewriteRule ^.*\.(ini|log|sh|bak|old|sql|yml|yaml|conf|env)$ - [F,NC]

    # Bloquear arquivos ocultos (.git, .env, etc.)
    RewriteRule (^|/)\..+ - [F]

</IfModule>

# Bloqueia acesso direto a todos os arquivos PHP, exceto index.php

<FilesMatch "\.php$">
Require all denied
</FilesMatch>

<Files "index.php">
Require all granted
</Files>
